.recepcion-form-page {
  max-width: 1400px;
}

.error-msg {
  font-size: 12px;
  color: #DC2626;
}

.text-muted {
  background: #F3F4F6 !important;
  color: #374151;
}

.invalid {
  border-color: #DC2626 !important;
}

.required {
  color: #DC2626;
}
